body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.main {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.box {
    background-color: #555;
    color: white;
    padding: 20px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .box {
        margin: 10px 0;
    }
}
